<%- include('partials/header') %>
</div>
    <section class="section marginTopSection">
        <div class="container1240">
            <div class="containerTileCourses">
                <h1 class="text24 textBold">Les cours disponibles</h1>
                <br>
                <div class="containerInfosCourses">
                    <p class="text14">Dans cette section tu as accès gratuitement à tous nos cours. Ces derniers balaye l'intégralité des thèmes liées au sport.</p>
                    <br>
                    <ul class="containerListingCourses">
                        <li class="text14 elementlist">Anatomie</li>
                        <li class="text14 elementlist">Physiologie</li>
                        <li class="text14 elementlist">Méthodologie de l'entrainement</li>
                        <li class="text14 elementlist">Biomécanique des mouvements sportifs</li>
                    </ul>
                </div>
                
            </div>
            <div>
                <div class="containerRechercheCourses marginContainer">
                    <label for="searchCourses" id="rechercherCourses">Recherche un cours</label>
                    <input type="search" name="searchCourses" id="searchCourses">
                </div>
            </div>
        </div>
    </section>
    
    <section class="section courses marginTopContainerMini">
        <div class="container1340">
            <div class="grid">
                <article class="cardsCours">
                    <a href="/cours/Les-filières-énergétiques">
                        <div class="titleAndImgArticle">
                            <img src="../css/assets/Rectangle 27-1.png" alt="" srcset="">
                            <h3>Les filières énergétiques</h3>
                        </div>
                        <div class="synopsisArticle">
                            <p class="text14">Toutes les informations à connaitre sur le fonctionnement
                                l’unité fondamentale du vivant</p>
                        </div>
                        <div class="informationArticle">
                            <p class="text12">Auteur : Gérémy DUMAS</p>
                            <p class="text12">Date de parution : 23/07/1995</p>
                        </div> 
                    </a>
                    
                </article>

                <article class="cardsCours">
                    <div class="titleAndImgArticle">
                        <img src="../css/assets/Rectangle 27-2.png" alt="" srcset="">
                        <h3>La contraction musculaire</h3>
                    </div>
                    <div class="synopsisArticle">
                        <p class="text14">Toutes les informations à connaitre sur le fonctionnement
                            l’unité fondamentale du vivant</p>
                    </div>
                    <div class="informationArticle">
                        <p class="text12">Auteur : Gérémy DUMAS</p>
                        <p class="text12">Date de parution : 23/07/1995</p>
                    </div>
                </article>

                <article class="cardsCours">
                    <div class="titleAndImgArticle">
                        <img src="../css/assets/Rectangle 27-3.png" alt="" srcset="">
                        <h3>Le membre supérieur</h3>
                    </div>
                    <div class="synopsisArticle">
                        <p class="text14">Toutes les informations à connaitre sur le fonctionnement
                            l’unité fondamentale du vivant</p>
                    </div>
                    <div class="informationArticle">
                        <p class="text12">Auteur : Gérémy DUMAS</p>
                        <p class="text12">Date de parution : 23/07/1995</p>
                    </div>
                </article>

                <article class="cardsCours">
                    <div class="titleAndImgArticle">
                        <img src="../css/assets/Rectangle 27-4.png" alt="" srcset="">
                        <h3>La ceinture scapulaire</h3>
                    </div>
                    <div class="synopsisArticle">
                        <p class="text14">Toutes les informations à connaitre sur le fonctionnement
                            l’unité fondamentale du vivant</p>
                    </div>
                    <div class="informationArticle">
                        <p class="text12">Auteur : Gérémy DUMAS</p>
                        <p class="text12">Date de parution : 23/07/1995</p>
                    </div>
                </article>

                <article class="cardsCours">
                    <div class="titleAndImgArticle">
                        <img src="../css/assets/Rectangle 27-5.png" alt="" srcset="">
                        <h3>Les plans, axes et vues</h3>
                    </div>
                    <div class="synopsisArticle">
                        <p class="text14">Toutes les informations à connaitre sur le fonctionnement
                            l’unité fondamentale du vivant</p>
                    </div>
                    <div class="informationArticle">
                        <p class="text12">Auteur : Gérémy DUMAS</p>
                        <p class="text12">Date de parution : 23/07/1995</p>
                    </div>
                </article>

                <article class="cardsCours">
                    <div class="titleAndImgArticle">
                        <img src="../css/assets/Rectangle 27-6.png" alt="" srcset="">
                        <h3>La cellule musculaire</h3>
                    </div>
                    <div class="synopsisArticle">
                        <p class="text14">Toutes les informations à connaitre sur le fonctionnement
                            l’unité fondamentale du vivant</p>
                    </div>
                    <div class="informationArticle">
                        <p class="text12">Auteur : Mathias ROMESTANT</p>
                        <p class="text12">Date de parution : 23/07/1995</p>
                    </div>
                </article>
                
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>
    <script src="../js_client/script-courses.js"></script>
</body>
</html>