<%- include('partials/header') %>
</div>
    <div class="container1240">
        <article id="containerCoursAndArticles">
            <div class="containerImgHD">
                <img src="../css/assets/Rectangle 28.png" alt="">
            </div>
            <div class="containerDataCours">
                <div class="divTitle">
                    <h1 id="titleCours">title</h1>
                </div>
                <div class="divAuthRead">
                    <div>
                        <h3 id="authorCours">Auteur : Gérémy DUMAS</h3>
                        <h6 id="dateCours">Date de parution : 23/07/1995</h6>
                    </div>
                    <div>
                        <h6 id="durationCours">Temps de lecture estimé : 15 minutes</h6>
                    </div>
                </div>
            </div>
            <div class="containerSocialCours">
                <div>
                    <p>Partage cet article :</p>
                    <button id="btnShare">
                        <lord-icon
                            src="https://cdn.lordicon.com/udwhdpod.json"
                            trigger="hover"
                            colors="primary:#121331,secondary:#f28705"
                            style="width:50px;height:50px">
                        </lord-icon>
                    </button>
                </div>
                <button id="btnLike">
                    <lord-icon
                        src="https://cdn.lordicon.com/rjzlnunf.json"
                        trigger="hover"
                        colors="primary:#121331,secondary:#f28705"
                        state="hover-2"
                        style="width:50px;height:50px">
                    </lord-icon>
                </button>

            </div>
            <div class="containerZoneCours coursAndArticle" id="containerContent">
            </div>
        </article>
    </div>

    <%- include('partials/footer') %>
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <script type="module" src="../js_client/script-cours.js"></script>
</body>
</html>