<%- include('partials/header') %>
</div>
    <div class="container1240">
        <article id="containerCoursAndArticles">
            <div class="containerImgHD">
                <img src="../css/assets/Rectangle 28.png" alt="">
            </div>
            <div class="containerDataCours">
                <div class="divTitle">
                    <h1 id="titleCours">title</h1>
                </div>
                <div class="divAuthRead">
                    <div>
                        <h3 id="authorCours">Auteur : Gérémy DUMAS</h3>
                        <h6 id="dateCours">Date de parution : 23/07/1995</h6>
                    </div>
                    <div>
                        <h6 id="durationCours">Temps de lecture estimé : 15 minutes</h6>
                    </div>
                </div>
            </div>
            <div class="containerZoneCours coursAndArticle" id="containerContent">
            </div>
        </article>
    </div>

    <%- include('partials/footer') %>
    <script type="module" src="../js_client/script-cours.js"></script>
</body>
</html>