<%- include('partials/header') %>
</div>
    <div class="container1240" style="height: 100vh;">
      <%- include('partials/navDashboard') %>
    <div id="containerCards"></div>
      <h1>Modification du cours sélectionné !!</h1>
  </div>    
  <%- include('partials/footer') %>
  <script type="module" src="../js_client/dashboard.js"></script>
  <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
  <script type="module" src="../../js_client/script-dashboard-cours.js"></script>
  <script type="module" src="../../js_client/script-dashboard-gestion-cours.js"></script>
</body>
</html>