<%- include('partials/header') %>
</div>
    <div class="container1240" style="height: 100vh;">
        <nav class="navbarDashboard">
            <div>
                <a href="/dashboard">Home</a>
                <a href="/dashboard/cours">Gestion cours</a>
                <a href="/dashboard/articles">Gestion articles</a>
            </div>
        </nav>
        <h1>Create articles </h1>
    </div>    
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
</body>
</html>