<%- include('partials/header') %>
</div>
    <div class="container1240" style="height: 100vh;">
        <%- include('partials/navDashboard') %>
        <h1>Gestion User</h1>
    </div>
    <script type="module" src="../js_client/script-dashboard-cours.js"></script>
    <%- include('partials/footer') %>
</body>
</html>