<%- include('partials/header') %>
</div>
<div class="container1240" style="height: 100vh;">
  <nav class="navbarDashboard justifyContent">
    <div>
      <a href="/dashboard">Home</a>
      <a href="/dashboard/cours">Gestion cours</a>
      <a href="/dashboard/articles">Gestion articles</a>
    </div>
    <div>
      <button onclick="location.href='/dashboard/articles/create'">
        <lord-icon
          src="https://cdn.lordicon.com/mecwbjnp.json"
          trigger="hover"
          colors="primary:#121331,secondary:#ffffff"
          style="width:30px;height:30px">
        </lord-icon>
        Ajouter un articles
      </button>
  </div>
</nav>

<h1>All articles</h1>
</div>    
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<script type="module" src="../js_client/script-dashboard-cours.js"></script>
<script type="module" src="../js_client/script-dashboard-gestion-cours.js"></script>
    <%- include('partials/footer') %>
</body>
</html>