<%- include('partials/header') %>
</div>
    <div class="container1240" style="height: 100vh;">
        <%- include('partials/navDashboard') %>
        <div id="dashboard"></div>
    </div>
    <!-- <script type="module" src="../js_client/script-dashboard-cours.js"></script> -->
    <script type="module" src="../js_client/dashboard.js"></script>
    <%- include('partials/footer') %>
</body>
</html>