<%- include('partials/header') %>
</div>
    <div class="container1240" style="height: 100vh;">
        <nav class="navbarDashboard">
            <a href="/dashboard">Home</a>
            <a href="/dashboard/cours">Gestion cours</a>
            <a href="/dashboard/articles">Gestion articles</a>
        </nav>
        <h1>Menu</h1>
    </div>
    <script type="module" src="../js_client/script-dashboard-cours.js"></script>c
    <%- include('partials/footer') %>
</body>
</html>