<%- include('partials/header') %>
        <section class="heroBanner">
            <div class="containerHeroBanner">
                <div class="containerHeroBannerSlogan">
                    <h1 class="titleHeroBanner"><span id="formeToi">FORME TOI</span> <br>DANS LE SPORT</h1>
                    <p class="text24 textWhite">BPJEPS - Brevet d'état - Diplôme universitaire</p>
                </div>
                <div class="containerHeroBannerImg" style="margin-right: 30px;" class="containerImgHeroBanner">
                    <img src="../css/assets/hero_banner_svg.svg" alt="" srcset="">
                </div>
            </div>
            <div class="containerLordIcon">
                <lord-icon
                    src="https://cdn.lordicon.com/wtfdpwey.json"
                    trigger="loop"
                    delay="1000"
                    colors="primary:#bf7315,secondary:#bf7315"
                    style="width:66px;height:66px">
                </lord-icon>
            </div>
        </section>
    </div>
    
<%- include('partials/footer') %>
<script src="../js_client/script-index.js"></script>
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</body>
</html>