<%- include('partials/header') %>
    <h1>Hello World</h1>

    <section class="heroBanner">

    </section>
    
<%- include('partials/footer') %>
<script src="../js_client/script-index.js"></script>
</body>
</html>