<%- include('partials/header') %>
        <section class="heroBanner">
            <div class="containerHeroBanner">
                <div class="containerHeroBannerSlogan">
                    <h1 class="titleHeroBanner"><span id="formeToi">FORME TOI</span> <br>DANS LE SPORT</h1>
                    <p class="sloganHeroBanner">BPJEPS - Brevet d'état - Diplôme universitaire</p>
                </div>
                <div class="containerHeroBannerImg" class="containerImgHeroBanner">
                    <img src="../css/assets/hero_banner_svg.svg" alt="" srcset="">
                </div>
            </div>
            <div class="containerLordIcon" id="lordIconScroll">
                <lord-icon
                    src="https://cdn.lordicon.com/wtfdpwey.json"
                    trigger="loop"
                    delay="1000"
                    colors="primary:#bf7315,secondary:#bf7315"
                    style="width:66px;height:66px">
                </lord-icon>
            </div>
        </section>
    </div>

<section class="section mission marginTopSection">
    <div class="container1240 marginContainer">
        <h2 class="text28 textBold textAlign" >Notre mission</h2>
        <div class="containerContenu">
            <p class="text16 marginText">
                Le site <strong class="textBold text16">ma formation sport</strong>  à été créer dans le but d’aider les personnes désireuse de <strong class="textBold text16">travailler dans le milieu du sport.</strong> Le nombre de formation diplômante sont nombreuse mais n’offrent pas les mêmes finalité de travail, il est donc important de trouver la bonne.
            </p>
            <br>
            <p class="text16 marginText">
                De plus, le grand nombre <strong class="textBold text16">d’articles présent gratuitement</strong>  sur le site permettra à n’importe quelle personnes <strong class="textBold text16">d’augmenter ou d’approfondir ses connaissances.</strong> 
            </p>
            <br>
            <p class="text16 marginText">
                Nos articles sont écrit par des professionnels du secteur travaillant eux même dans des <strong class="textBold text16">organismes de formation ou à l’université.</strong>  
            </p>
        </div>
    </div>
</section>
<hr class="marginTopSection hrInterSection">
<section class="section noscours marginTopSection">
    <div class="container1240">
        <div>
            <h2 class="text28 textBold textAlign" >1. Découvre nos cours</h2>
        </div>
        <div class="containerContenu">
            <p class="text16 marginText">
                Un large choix <strong class="textBold text16">de cours</strong>  couvrant les différents domaines lié au <strong class="textBold text16">sport</strong> , afin d’approfondir tes connaissances.
            </p>
            <br>
            
            <p class="text16 marginText">
                Tous nos cours sont accessibles <strong class="textBold text16">gratuitement</strong>.
            </p>
        </div>
        <div class="containerCardsCours marginContainer">
            <div class="cards">
                <img src="https://placehold.co/120x150" alt="">
                <h3 class="text2">Physiologie</h3>
            </div>
            <div class="cards">
                <img src="https://placehold.co/120x150" alt="">
                <h3 class="text2">Anatomie</h3>
            </div>
            <div class="cards">
                <img src="https://placehold.co/120x150" alt="">
                <h3 class="text2">Méthodologie</h3>
            </div>
            <div class="cards">
                <img src="https://placehold.co/120x150" alt="">
                <h3 class="text2">Biomécanique</h3>
            </div>
        </div>
        <div class="containerContenu textAlign">
            <button class="btn btn-courses"><a class="text16 textBold textWhite" href="/courses">Nos cours</a></button>
        </div>
    </div>
</section>
<hr class="marginTopSection hrInterSection">
<section class="section nosArticles marginTopSection">
    <div class="container1240">
        <div>
            <h2 class="text28 textBold textAlign" >2. Découvre nos articles</h2>
        </div>
        <div class="containerContenu">
            <p class="text16 marginText">
                La différences entres les cours que nous proposont et les articles, c'est que ces derniers permettent de faire de la veille scientifique.
            </p>
            <br>
            <p class="text16 marginText">
                Les articles nous permmettent aussi de faire passer notre vision de l'entraînement de manière un peu plus personnel. 
            </p>
        </div>
        <div class="containerContenu textAlign">
            <button class="btn btn-courses"><a class="text16 textBold textWhite" href="/articles">Nos articles</a></button>
        </div>
    </div>
</section>
<hr class="marginTopSection hrInterSection">
<section class="section taFormation marginTopSection marginBottonSection">
    <div class="container1240">
        <div>
            <h2 class="text28 textBold textAlign" >3. Trouve ta formation</h2>
        </div>
        <div class="containerTaFormation containerContenu">
            <div class="containerParaTaFormation">
                <p class="text16 marginText">
                    Tu veux <strong class="textBlod text16">travailler dans le sport</strong>  mais tu ne sais pas quelle formation correspond le mieux à tes attentes ? 
                </p>
                <br>
                <p class="text16 marginText marginTop30">
                    Pas de problème nous avons un questionnaire qui te permet de<strong class="textBlod text16">trouver la formation qui est faite pour toi.</strong> 
                </p>
                <br>
                <p class="text16 marginText marginTop30">
                    On peut même t’aider à trouver <strong class="textBlod text16">l’université ou le centre de formation adapté.</strong> 
                </p>
            </div>
            <div class="backgroundOrange" id="backgroundOrangedesktop">
                <img src="../css/assets/background_orange.svg" alt="" srcset="">
                <a class="textWhite textBlod" href="/sa-formation">Rempli le formulaire<img src="../css/assets/Arrow 2.svg" alt="" srcset=""></a>
            </div>
            <div class="backgroundOrange" id="backgroundOrangeMobile">
                <a class="text16 textWhite textBlod" href="/sa-formation">Rempli le formulaire<img src="../css/assets/Arrow 2.svg" alt="" srcset=""></a>
            </div>
        </div>
    </div>
</section>   
<%- include('partials/footer') %>
<script src="../js_client/script-index.js"></script>
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</body>
</html>