<%- include('partials/header') %>
</div>
<div class="container1240">
    <h1>Découvre les formations</h1>
    <div id="containerGridFormation"></div>
</div>


<%- include('partials/footer') %>
<script src="../js_client/script-lesFormation.js"></script>
</body>
</html>