<%- include('partials/header') %>
    <section class="containerFromLoginAndSignup">
        <form class="formulaireLoginAndSignup" id="formLogin">
            <div class="containerDivForm">
                <label for="">Adresse mail :</label>
                <input type="email" name="" id="">
            </div>
            <div class="containerDivForm">
                <label for="">Mot de passe :</label>
                <input type="password" name="" id="">
            </div>
            <button>Connexion</button>
        </form>
    </section>

</div>
    <%- include('partials/footer') %>
</body>
</html>