<%- include('partials/header') %>
    <section class="containerFromLoginAndSignup">
        <form class="formulaireLoginAndSignup" id="formLogin">
            <div>
                <h3>Connexion</h3>
            </div>
            <div class="containerDivForm">
                <label for="">Email :</label>
                <div class="divInputForm">
                    <input type="email" name="" id="email">
                    <img id="svgMail" src="../css/assets/mail.svg" alt="">
                </div>
            </div>
            <div class="containerDivForm">
                <label for="">Mot de passe :</label>
                <div class="divInputForm">
                    <input type="password" name="" id="password">
                    <img id="svgPadlock" src="../css/assets/padlock.svg" alt="">
                </div>
            </div>
            <button id="btn-login">Connexion</button>
            <div class="blockSwitchSignupLogin">
                <p>Tu n'as pas de compte ? <a href="/signup">Incrit-toi !</a></p>
            </div>
        </form>
    </section>

</div>
<%- include('partials/footer') %>
<script type="module" src="../js_client/script-login.js"></script>
</body>
</html>