<%- include('partials/header') %>
<section class="containerFromLoginAndSignup">
    <form class="formulaireLoginAndSignup" id="formSignup">
        <div>
            <h3>Inscription</h3>
        </div>
        <div class="containerDivForm">
            <label for="">Email :</label>
            <div class="divInputForm">
                <input type="email" name="" id="">
                <img id="svgMail" src="../css/assets/mail.svg" alt="">
            </div>
        </div>
        <div class="containerDivForm">
            <label for="">Mot de passe :</label>
            <div class="divInputForm">
                    <input type="password" name="" id="">
                    <img id="svgPadlock" src="../css/assets/padlock.svg" alt="">
                </div>
        </div>
        <div class="containerDivForm">
            <label for="">Confirmer le mot de passe :</label>
            <div class="divInputForm">
                    <input type="password" name="" id="">
                    <img id="svgPadlock" src="../css/assets/padlock.svg" alt="">
                </div>
        </div>
        <button>Inscription</button>
        <div class="blockSwitchSignupLogin">
            <p>Tu as déjà un compte ? <a href="/login">Connecte-toi !</a></p>
        </div>
    </form>
</section>

</div>
<%- include('partials/footer') %>
</body>
</html>