/* En dessous de 800px de large enlever l'image */
/* En dessous de 800px mettre en place un menu hamburger  */

@import url('../css/varAllPage.css');


.backgroudHeroBanner{
    background: linear-gradient(248.66deg, rgba(0, 0, 0, 0) 0%, rgba(191, 115, 21, 0.2) 100%), #1E1E1E;
}

/* Barre de navigation :  */
.navbar{
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}
.navbar a{
    color: #fff;
    font-size: calc(10px + 0.5vw);
}


.navLeft{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.navRight{
    margin-right: 30px;
}

.linkNavbarCallToAction li{
    margin: 0 10px;
}

.containerMFS{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerListNavbar{
    margin-left: 30px;
}

#link-navbar, .navRight ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}
#link-navbar li{
    margin: 0 10px;
}

#btn-signup{
    padding: 13px 15px;
    background-color: #BF7315;
}
.activeLink {
    color: #BF7315;
}

/* RESPONSIVE NAVBAR  */

.containerNavBarBurger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 15px;
    width: 100%;
}

#hamburger{
    display: none;
}

.containerBurgerCallToAction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.containerLinkBurger{
    display: none;
}

.containerLinkBurgerBis{
    flex-direction: column;
    align-items: center;
}

.containerLinkNavbarBurger{
    width: 100%;
    text-align: center;
}

.linkNavbarBurger{
    flex-direction: column;
}
.linkBurger{
    margin: 30px;
}
.linkBurger a{
    font-size: 1.6rem !important;
}

.hrBurger{
    width: 250px;
    height: 2px;
    background-color: #fff;
}


/* HERO BANNER  */

.heroBanner{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containerHeroBanner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containerHeroBannerSlogan{
    width: 45%;
    min-width: 350px;
    margin-left: 2vw;
}
.containerHeroBannerImg{
    width: 45%;
    min-width: 350px;
    display: block;
    margin-right: 2vw;
}
.containerHeroBannerImg img{
    object-fit: contain;
    max-width: 100%;
}

#formeToi{
    font-size: calc(35px + 2vw);
    font-weight: 400;
    font-family: 'Allerta Stencil', sans-serif;
}

.titleHeroBanner{
    font-size: calc(25px + 2vw);
    color: #fff;
}

.sloganHeroBanner{
    font-size: 2.4rem;
    color: #fff;
}

.containerLordIcon{
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}
@media (max-width: 1400px) {
    .sloganHeroBanner{
        font-size: calc(10px + 0.8vw);
    }
}


@media (max-width: 1000px) {
    .navbar a{
        font-size: 1.4rem;
    }
    .navLeft{
        margin-left: 20px;
    }
    .navRight{
        margin-right: 20px;
    }
    .containerListNavbar{
        margin-left: 20px;
    }
}
@media (max-width: 900px) {
    .navbar a{
        font-size: 1.3rem;
    }
    .navLeft{
        margin-left: 10px;
    }
    .navRight{
        margin-right: 10px;
    }
    .containerListNavbar{
        margin-left: 10px;
    }
    #hamburger{
        display: none;
    }
    #formeToi{
        font-size: calc(30px + 2vw);
    }
    .titleHeroBanner{
        font-size: calc(20px + 2vw);
    }
}
@media (max-width: 800px) {
    .containerHeroBannerImg {
      display: none;
    }
    .containerHeroBanner{
        justify-content: center ;
    }
    .containerHeroBannerSlogan {
        width: 80%;
        margin: 0 auto;
    }
    #formeToi{
        font-size: calc(35px + 4vw);
    }
    .titleHeroBanner{
        font-size: calc(25px + 4vw);
    }
    .sloganHeroBanner{
        font-size: calc(10px + 2vw);
    }
    .navbar a{
        font-size: 1.2rem;
    }
    #hamburger{
        display: block;
    }
    #desktop{
        display: none;
    }
}

@media (max-width: 500px) {

    #formeToi{
        font-size: calc(35px + 4vw);
    }
    .titleHeroBanner{
        font-size: calc(25px + 4vw);
    }
    .sloganHeroBanner{
        font-size: calc(10px + 2vw);
    }
    .containerHeroBannerSlogan{
        text-align: center;
        width: 100%;
        min-width: 300px;
        display: block;
        margin-right: 2vw;
    }
}


/* Nos Cours */

.containerCardsCours{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards{
    margin: 15px 15px;
    border: 1px solid #BFB9B2;
    border-radius: 5px;
    width: 160px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media (max-width: 500px) {
    .containerCardsCours{
        justify-content: space-evenly;
    }
}

.btn-courses{
    background-color: var(--orange-1);
    height: 40px;
    width: 180px;
}

.containerTaFormation{
    display: flex;
    flex-direction: row;
}

.containerParaTaFormation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#backgroundOrangedesktop{
    position: relative;
    object-fit: contain;
    width: 50%;
}
#backgroundOrangedesktop img{
    width: 100%;
}

#backgroundOrangedesktop a{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 3.2rem;
}
#backgroundOrangedesktop a img{
    width: 100px;
}
#backgroundOrangeMobile{
    display: none;
}

@media (max-width: 1000px) {
    #backgroundOrangedesktop a{
        font-size: calc(10px + 2vw);
    }
    #backgroundOrangedesktop a img{
        width: calc(50px + 2vw);
    }
}
@media (max-width: 800px) {
    #backgroundOrangedesktop{
        display: none;
    }
    #backgroundOrangeMobile{
        display: block;
        background-color: var(--orange-1);
        margin-top: 30px;
    }
    #backgroundOrangeMobile a{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6vh 0;
    }
    #backgroundOrangeMobile a img{
        width: 50px;
    }
    .containerTaFormation{
        flex-direction: column;
    }
    .containerParaTaFormation{
        width: 100%;
    }
}

/* COURSES */

.containerTileCourses{
    text-align: center;
}

.containerInfosCourses{
    text-align: start;
    margin: 10px;
}
.elementlist{
    list-style: disc;
    margin-left: 30px;
}

.containerRechercheCourses{
    display: inline-grid;
    margin-left: 10px;
}
.containerRechercheCourses label{
    font-size: 2rem;
    transform: translate(15px, 48px);
    transition: .3s ease-in-out;
}
.containerRechercheCourses label:hover{
    cursor: text;
}
.containerRechercheCourses input{
    width: calc(200px + 10vw);
    font-size: 1.4rem;
    padding: 6px 12px;
    margin-top: 20px;
}
.containerRechercheCourses input:focus {
    outline: 2px solid #BF7315;
}

.grid{
    width: 100%;
    margin: 0 10px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    grid-gap: 20px;
    /* row-gap: 3rem;
    column-gap: 2rem; */
}

.cardsCours{
    width: 400px;
    height: 266px;
    background-color: var(--orange-card);
    transition: 0.3s ease-in-out;
    
    border-radius: 5px;
}
.cardsCours a{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardsCours:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.titleAndImgArticle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px;
}
.titleAndImgArticle img{
    width: 55%;
}
.titleAndImgArticle h3{
    width: 45%;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.synopsisArticle{
    margin: 8px;
    max-width: 100%;
}

.resumeArticle{
    font-size: 1.4rem;
}

.informationArticle{
    display: flex;
    flex-direction: row;
    margin: 8px;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .grid{
        width: 100%;
        grid-template-columns: repeat(auto-fill, 300px);
    }
    .cardsCours{
        width: 300px;
        background-color: var(--orange-card);
    }
}

/* NAVBAR DASHBOARD */

/* .navbarDashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
    border-bottom: 4px solid #A4A4A4;
}
.justifyContent{
    justify-content: space-between;
}
.navbarDashboard a{
    font-size: 1.6rem;
    margin-left: 30px;
}
.navbarDashboard button{
    font-size: 1.4rem;
    margin-right: 30px;
    background-color: #00bbff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
.navbarDashboard button:hover{
    cursor: pointer;
} */

#navbarDashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navDashLeft ul{
    display: flex;
    flex-direction: row;
}
.navDashLeft ul li{
    margin: 15px 5px;
}
.navDashLeft ul li a{
    padding: 10px 15px;
    font-size: 1.4rem;
}
.navDashRight button{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #00bbff;
    border: none;
    color: #fff;
    font-size: 1.6rem;
}
.navDashRight button:hover{
    cursor: pointer;
}

/* Formulaire ancienne version */

#editorjs{
    background-color: #efefef;
    width: 100%;
    border-radius: 10px;
}
.ce-block__content{
    max-width: 90%;
    font-size: 1.4rem;
}
.cdx-block, .cdx-list__item{
    font-size: 1.4rem;
}

.ce-toolbar__content{
    max-width: 90%;
}
.containerFormulaire{
    margin: 50px auto 100px;
    max-width: 900px;
}
.containerFormulaire h1{
    font-weight: 600;
    font-size: 2.4rem;
}
.containerFormulaire h2{
    font-weight: 600;
    font-size: 2rem;
}
.containerFormulaire h3{
    font-weight: 600;
    font-size: 1.6rem;
}

.formulaire{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 10px;
}
.formulaire hr{
    width: 60%;
    margin: 20px auto;
}
.formulaire input{
    font-size: 1.4rem;
    padding: 5px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}
.formulaire textarea{
    font-size: 1.4rem;
    padding: 5px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}

.divFormulaire{
    display: flex;
    flex-direction: column;
    margin: 20px 0 ;
}
#caractMax{
    font-size: 1.4rem;
}
.divFormulaire label{
    font-size: 20px;
    font-weight: 600;
}
.divRowsFormulaire{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divFormDuration{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.divFormDuration input{
    width: 60px;
    margin-left: 10px;
}
.divFormDuration p{
   font-size: 1.4rem;
   margin-left: 10px;
}
.divFormAuthor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.divFormAuthor input{
    margin-left: 10px;
}

.inputForm{
    background-color: #00bbff;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    font-weight: 600;
}
.inputForm:hover{
    cursor: pointer;
}

.divCards{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 50px auto;
    min-height: 180px;
    max-height: 300px;
    background: var(--orange-card);
    border-radius: 10px;
}

.divImg{
    min-width: 260px;
    max-width: 260px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.divImg img{
    width: 100%;
}

.divContent{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divContent h3{
    font-size: 2rem;
    font-weight: 600;
}
.divContent p{
 font-size: 1.6rem;
}

.divAuthDate{
    display: inline-flex;
    justify-content: space-between;
}

.divBtn{
    display: inline-flex;
}
.divBtn button{
    background: none;
    border: none;
    margin: 0 10px;
}
.divBtn button:hover{
    cursor: pointer;
}

#navbar-dashbord{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    flex-wrap: wrap;
    margin: 0 10px;
}

.divNavLink{
    
}
.divNavLink a{
    font-size: 1.6rem;
    margin-right: 20px;
}
.divNavBtn{

}
.divNavBtn button{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #00bbff;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.6rem;
    transition: ease-in-out .3s;
}

.divNavBtn button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.49);
    transition: ease-in-out .3s;
}

#containerGridFormation{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: space-evenly;
    grid-gap: 40px;
    margin: 50px 10px;
}

.linkCards{
    transition: ease-in-out .2s;
}
.linkCards:hover{
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.49);
    transition: ease-in-out .2s;
}

.divCardsFormation{
    width: 350px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.divTopCards{
    width: 350px;
    height: 150px;
    object-fit: contain;
}
.divTopCards img{
    width: 100%;
    height: 100%;

}
.divBottomCards img{
    width: 20px;
    height: 20px;
}

/* Formulaire nouvelle version */

.ctn-choix{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
.ctn-choix h3{
    font-size: 2rem;
    margin-bottom: 20px;
}
.ctn-choix button{
    background-color: gray;
    padding: 10px 30px;
    font-size: 1.6rem;
    border: none;
    margin: 0 20px;
    color: #fff;
}
.ctn-choix button:hover{
    background-color: #ceac82;
    cursor: pointer;
}

.active{
    background-color: #BF7315 !important;
}
.divBtnForm{
    text-align: center;
}
.btn-EnvoyerForm{
    background-color: #00bbff;
    padding: 10px 30px;
    font-size: 1.6rem;
    color: #fff;
    border: none;
}