.containerFromLoginAndSignup{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulaireLoginAndSignup{
    transform: translateY(-30px);
    width: 400px;
    height: 450px;
    background-color: rgba(196, 165, 129, 0.13);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    opacity: 0.9;
}
.formulaireLoginAndSignup h3{
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
}
.formulaireLoginAndSignup button{
    width: 85%;
    font-size: 1.6rem;
    padding: 8px;
    background-color: #BF7315;
    border: none;
    color: aliceblue;
}
.formulaireLoginAndSignup button:hover{
    cursor: pointer;
}

.containerDivForm{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.divInputForm{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.containerDivForm img{
    position: absolute;
    right: 10px;
}
#svgMail{
    width: 20px;
}
#svgPadlock{
    height: 20px;
}
.containerDivForm label{
    font-size: 1.4rem;
    color: aliceblue;
    margin-bottom: 5px;
}
.containerDivForm input{
    font-size: 1.4rem;
    padding: 7px 35px 7px 7px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

.blockSwitchSignupLogin p{
    font-size: 1.4rem;
    color: #fff;    
}
.blockSwitchSignupLogin a{
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
    color: var(--orange-2);
}