<footer class="footer">
    <div class="container1240 containerFooter">
        <div class="containerFooterLeft">
            <div>
                <h2><a href="/">MFS</a></h2>
            </div>
            <div class="marginLeft30 height100 marginSpeResponsiveFooter">
                <ul class="containerUlFooterLeft">
                    <li><a href="/courses">Cours</a></li>
                    <li><a href="/articles">Articles</a></li>
                    <li><a href="/sa-formation">Sa formation</a></li>
                </ul>
            </div>
        </div>
        <hr class="hrResponsiveFooter">
        <div class="containerFooterRight">
            <ul class="containerUlFooterRight">
                <li><a href="/">Mentions légales</a></li>
                <li><a href="/">With-U-Website</a></li>
                <li><a href="https://lordicon.com/">Icons by Lordicon.com</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- <script>
    console.log("Si jamais tu trouve un bug sur le site ou une faille merci de me faire remonter l'info :)")
    console.log("Mon mail : support@mfs.fr")
</script> -->