<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@400;600&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/varAllPage.css">
    <link rel="stylesheet" href="../../css/styleLoginAndSignUp.css">
    <link rel="stylesheet" href="../../css/styleHamburgerMenu.css">
    <link rel="stylesheet" href="../../css/styleCoursAndArticle.css">
    <script type="module" src="../../js_client/script-header.js"></script>
</head>
<body>
    <div class="backgroudHeroBanner">
    <header>
            <nav class="navbar" id="hamburger">
                <div class="containerBurgerCallToAction">
                    <div class="containerNavBarBurger">
                        <label for="check" class="labelBurger">
                            <input type="checkbox" id="check"/> 
                            <span class="spanBurger"></span>
                            <span class="spanBurger"></span>
                            <span class="spanBurger"></span>
                        </label>
                        <div class="containerMFS">
                            <h2><a id="MFS" href="/">MFS</a></h2>
                        </div>
                    </div>
                </div>
                <div class="containerLinkBurger containerLinkBurgerBis" id="idContainerLinkBurger">
                    <div class="containerLinkNavbarBurger">
                        <ul id="linkNavbarBurger">
                            <li class="linkBurger"><a class="a-navbar" href="/courses">Cours</a></li>
                            <li class="linkBurger"><a class="a-navbar" href="/articles">Articles</a></li>
                            <li class="linkBurger"><a class="a-navbar" href="/sa-formation">Les formations</a></li>
                            <!-- <li class="linkBurger"><a class="a-navbar" href="/centre-de-formation">Centre de formation</a></li>
                            <li class="linkBurger"><a class="a-navbar" href="/employeurs">Employeur</a></li> -->
                        </ul>
                    </div>
                    <hr class="hrBurger">
                    <div class="containerLinkNavbarBurger" id="identificationBurger">
                        <ul class="linkNavbarBurger">
                            <li class="linkBurger"><a class="a-navbar" href="/login">Connexion</a></li>
                            <li class="linkBurger" style="margin-top: 20px;"><a class="a-navbar" id="btn-signup" href="/signup">Inscription</a></li>
                        </ul>
                    </div>
                    <div class="containerLinkNavbarBurger" id="userConnectedBurger">
                        <ul class="linkNavbarBurger">
                            <li class="linkBurger"><a class="a-navbar" href="/dashboard">Mon Profil</a></li>
                            <li class="linkBurger" style="margin-top: 20px;"><a class="a-navbar" id="bvn-user-burger" href=""></a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <nav class="navbar" id="desktop">
                <div class="navLeft">
                    <div class="containerMFS">
                        <h2><a id="MFS" href="/">MFS</a></h2>
                    </div>
                    <div class="containerListNavbar">
                        <ul id="link-navbar">
                            <li><a class="a-navbar" href="/courses">Cours</a></li>
                            <li><a class="a-navbar" href="/articles">Articles</a></li>
                            <li><a class="a-navbar" href="/sa-formation">Les formations</a></li>
                            <!-- <li><a class="a-navbar" href="/centre-de-formation">Centre de formation</a></li>
                            <li><a class="a-navbar" href="/employeurs">Employeur</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="navRight" id="identification">
                    <ul class="linkNavbarCallToAction">
                        <li><a class="a-navbar" href="/login">Connexion</a></li>
                        <li><a class="a-navbar" id="btn-signup" href="/signup">Inscription</a></li>
                    </ul>
                </div>
                <div class="navRight" id="userConnected">
                    <ul class="linkNavbarCallToAction">
                        <li><a class="a-navbar" href="/dashboard">Mon Profil</a></li>
                        <li><a class="a-navbar" id="bvn-user"></a></li>
                    </ul>
                </div>
            </nav>
    </header>