<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/varAllPage.css">
    <script src="../../js_client/script-header.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navLeft">
                <div>
                    <h2><a href="/">MFS</a></h2>
                </div>
                <div>
                    <ul id="link-navbar">
                        <li><a class="a-navbar" href="/courses">Cours</a></li>
                        <li><a class="a-navbar" href="/articles">Articles</a></li>
                        <li><a class="a-navbar" href="/sa-formation">Sa formation</a></li>
                        <li><a class="a-navbar" href="/centre-de-formation">Centre de formation</a></li>
                        <li><a class="a-navbar" href="/employeurs">Employeur</a></li>
                    </ul>
                </div>
            </div>
            <div class="navRight">
                <ul>
                    <li><a class="a-navbar" href="/login">Connexion</a></li>
                    <li><a class="a-navbar" href="/signup">Inscription</a></li>
                </ul>
            </div>
        </nav>
    </header>