<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@400;600&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/varAllPage.css">
    <link rel="stylesheet" href="../../css/styleLoginAndSignUp.css">
    <link rel="stylesheet" href="../../css/styleCoursAndArticle.css">
    <link rel="stylesheet" href="../../css/styleNavBar.css">
    <script type="module" src="../../js_client/script-navbar.js"></script>
</head>
<body>
    <div class="backgroudHeroBanner">
    <header>
        <nav id="navbar">
            <div class="desktop" id="desktop">
                <div class="leftD">
                    <div class="nav-div1 containerMFS">
                        <h2><a id="MFS" href="/">MFS</a></h2>
                    </div>
                    <div class="nav-div2">
                        <ul class="leftUl" id="leftUl"></ul>
                    </div>
                </div>
                <div class="rightD">
                    <ul id="rightUl"></ul>
                </div>
            </div>
    
            <div class="burger" id="burger">
                <div class="nav-div3 containerMFS">
                    <h2><a id="MFS" href="/">MFS</a></h2>
                </div>
                <div class="nav-div4">
                    <label for="check" class="labelBurger">
                        <input type="checkbox" id="check">
                        <span class="spanBurger"></span>
                        <span class="spanBurger"></span>
                        <span class="spanBurger"></span>
                    </label>
                </div>
                <div class="nav-div5 animationBurger" id="allLinkB">
                    <ul class="leftUlB" id="leftUlB"></ul>
                    <hr>
                    <ul class="rightUlB" id="rightUlB"></ul>
                </div>
            </div>
        </nav>
    </header>