<nav class="navbarDashboard" id="navbar-membre">
    <a href="/dashboard">Home</a>
</nav>
<nav class="navbarDashboard" id="navbar-editor">
    <a href="/dashboard">Home</a>
    <a href="/dashboard/cours">Gestion cours</a>
    <a href="/dashboard/articles">Gestion articles</a>
</nav>
<nav class="navbarDashboard" id="navbar-admin">
    <a href="/dashboard">Home</a>
    <a href="/dashboard/cours">Gestion cours</a>
    <a href="/dashboard/articles">Gestion articles</a>
    <a href="/dashboard/articles">Gestion des utilisateurs</a>
</nav>